absl-py==2.4.0
affine==2.4.0
aiobotocore==2.17.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aioitertools==0.13.0
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.12.1
astunparse==1.6.3
attrs==25.4.0
azure-core==1.38.3
azure-storage-blob==12.23.1
boto3==1.35.74
botocore==1.35.93
bounded-pool-executor==0.0.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
click-plugins==1.1.1.2
cligj==0.7.2
cryptography==46.0.5
earthaccess==0.10.0
fastapi==0.115.5
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2026.1.0
gast==0.7.0
google-pasta==0.2.0
grpcio==1.78.0
h11==0.16.0
h5py==3.14.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.27.2
idna==3.11
importlib_resources==6.5.2
isodate==0.7.2
jmespath==1.1.0
joblib==1.4.2
keras==3.13.2
libclang==18.1.1
markdown-it-py==4.0.0
mdurl==0.1.2
ml_dtypes==0.5.4
multidict==6.7.1
multimethod==2.0.2
namex==0.1.0
numpy==2.2.1
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
optree==0.19.0
packaging==26.0
pandas==2.2.3
pillow==10.4.0
pqdm==0.2.0
propcache==0.4.1
protobuf==7.34.0
pycparser==3.0
pydantic>=2.9.2
pydantic_core>=2.23.4
Pygments==2.19.2
pyparsing==3.3.2
python-cmr==0.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.12
pytz==2026.1.post1
PyYAML==6.0.3
rasterio==1.4.2
requests==2.32.3
rich==14.3.3
s3fs==2026.1.0
s3transfer==0.10.4
scikit-learn==1.7.2
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
sniffio==1.3.1
starlette==0.41.3
tensorflow==2.21.0
termcolor==3.3.0
threadpoolctl==3.6.0
tinynetrc==1.3.1
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.32.1
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
wheel==0.46.3
wrapt==1.17.3
xgboost==2.1.4
yarl==1.23.0
